/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

// defines readable layer index
#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define NAVI    3
#define ADJS    4

/ {
        
        chosen {
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
	};

        keymap {
                compatible = "zmk,keymap";

                default_layer { 
// DEFAULT LAYER
// .--------------------------------------------------------------.       .-----------------------------------------------------------.
// |   ESC        |    Q    |    W   |   E    |    R    |    T    |       |   Y   |    U    |    I    |    O    |     P    |   BKSP   |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |   Tab        |    A    |    S   |   D    |    F    |    G    |       |   H   |    J    |    K    |    L    |     ;    |     '    |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |   SHFT       |    Z    |    X   |   C    |    V    |    B    |       |   N   |    M    |    ,    |    .    |     /    |   NAV    |
// '---------------------------------+--------+---------+---------+       |-------+---------+---------+-------------------------------'
//                                |  LA(GRAVE)  |  LOWER  |   SPC   |     |  BSPC |   RET   |  RAISE  |
//                                   '--------+---------+---------'       '-------+---------+---------'
                  bindings = <
        &kp ESC        &kp Q    &kp W    &kp E    &kp R     &kp T          &kp Y    &kp U      &kp I     &kp O     &kp P      &kp BKSP
        &kp TAB    &mt LSFT A   &kp S    &mt LALT D  &kp F   &kp G         &kp H   &mt LCTL J  &kp K     &kp L    &mt RSHFT SCLN   &kp QUOT
        &kp LSFT       &kp Z    &kp X    &kp C    &kp V     &kp B          &kp N     &kp M     &kp CMMA  &kp DOT   &kp FSLH   &mo NAVI
                           &kp LA(GRAVE)  &mo LOWER  &mt LSFT SPC          &kp BSPC  &mt RCTRL RET  &mo RAISE
                            >;

                  label = "Jing";
                };


                lower_layer {
// LOWER Layer: Media and Number Pad
// .--------------------------------------------------------------.    .-----------------------------------------------------------.
// |              |    1 !  |   2 @  |   3 #  |   4 $   |   5 %   |    |  6 ^  |   7 &   |   8 *   |   9 (   |   0 )    |   BKSP   |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |              |   Tab   |   ←    |    ↑   |    →  　|    [    |    |   ]   |    ?    |    !    |    @    |  PrtScn  |          |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |              | ESC    | LA(GRAVE) |  ↓   |   F7    |    (    |    |   )   |    -    |    ~    |    _    |  LA(RET) |          |
// '---------------------------------+--------+---------+---------+    |-------+---------+---------+-------------------------------'
//                                   |        |         |         |    |       |         |         |
//                                   '--------+---------+---------'    '-------+---------+---------'

                  bindings = <
          &none  &kp NUM_1  &kp NUM_2  &kp NUM_3  &kp NUM_4  &kp NUM_5   &kp NUM_6  &kp NUM_7  &kp NUM_8  &kp NUM_9  &kp NUM_0  &kp BKSP
          &none   &kp TAB   &kp LEFT   &kp UP   &kp RIGHT   &kp LBKT     &kp RBKT  &kp QMARK  &kp EXCL   &kp AT  &kp PSCRN  &none
          &none   &kp ESC   &kp LA(GRAVE)  &kp DOWN   &kp F7    &kp LPAR     &kp RPAR  &kp MINUS  &kp TILDE  &kp UNDER   &kp LA(RET)  &none
                                       &trans    &trans    &trans        &trans     &mo ADJS     &trans
                            >;
                  label = "NUM";
                };



                raise_layer {
// RAISE Layer: Special Chars
// .--------------------------------------------------------------.    .-----------------------------------------------------------.
// |              |    !    |    @   |        |         |    |    |    |   _   |    !    |    @    |         |          |          |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |              |    #    |    $   |        |    [    |    (    |    |   )   |    ]    |    ?    |         |          |          |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |              |    %    |    ^   |   {    |    }    |    ~    |    |   -   |    ~    |    ,    |         |          |          |
// '---------------------------------+--------+---------+---------+    |-------+---------+---------+-------------------------------'
//                                   |        |         |         |    |       |         |         |
//                                   '--------+---------+---------'    '-------+---------+---------'
                        bindings = <
        &none    &kp EXCL   &kp AT    &kp LPAR  &kp RPAR  &kp PIPE     &kp UNDER  &kp EXCL   &kp AT     &none  &none  &none
        &none    &kp HASH   &kp DLLR  &kp LBKT  &kp LBKT  &kp LPAR     &kp RPAR   &kp RBKT   &kp QMARK  &none  &none  &none
        &none    &kp PRCNT  &kp CARET &kp LBRC  &kp RBRC  &kp TILDE    &kp MINUS  &kp TILDE  &kp COMMA  &none  &none  &none
                                      &trans    &mo ADJS    &trans       &trans     &trans     &trans
                        >;
                        label = "SYM";
                };


              nav_layer {
// NAVIGATION Layer: Directions
// .--------------------------------------------------------------.    .-----------------------------------------------------------.
// |              |         |        |        |         |         |    | PG UP | PG HOME |   UP    |  PG END |          |  PrtScn  |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |     CTRL     |         |        |        |         |         |    | PF DN |  LEFT   |  DOWN   |  RIGHT  |          | CAPS LCK |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |     SHIFT    |         |        |        |         |         |    |       |         |         |         |          |          |
// '---------------------------------+--------+---------+---------+    |-------+---------+---------+-------------------------------'
//                                   |  GUI   |         |   ALT   |    |       |         |         |
//                                   '--------+---------+---------'    '-------+---------+---------'
                        bindings = <
          &none     &none   &none    &none     &none    &none        &kp PG_UP  &kp HOME   &kp UARW   &kp END   &none  &kp PSCRN
          &kp LCTL  &none   &none    &none     &none    &none        &kp PG_DN  &kp LARW   &kp DARW   &kp RARW  &none  &kp CLCK
          &kp LSFT  &none   &none    &none     &none    &none        &none      &none      &none      &none     &none  &trans
                                     &kp LGUI  &none    &kp LALT     &none      &none      &none
                        >;
                        label = "NAV";
                };


                adjust_layer {
// ADJUST Layer: Setting and Configurations
// .------------------------------------------------------------.    .-------------------------------------------------------------.
// |      0     |  BT 0   |  BT 1  |  BT 2  |  BT 3   |  BT 4   |    |  BT CLR |         |         |         |          |          |
// |------------+---------+--------+--------+---------+---------|    |---------+---------+---------+---------+----------+----------|
// | ExtPow ON  |         |        |        |         |         |    |         |         |         |         |          |          |
// |------------+---------+--------+--------+---------+---------|    |---------+---------+---------+---------+----------+----------|
// | ExtPow OFF |         |        |        |         |         |    |         |         |         |         |          |          |
// '-------------------------------+--------+---------+---------+    |---------+---------+---------+-------------------------------'
//                                 |        |         |         |    |         |         |         |
//                                 '--------+---------+---------'    '---------+---------+---------'

                        bindings = <
    &kp NUM_0           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4       &bt BT_CLR   &none     &none     &none    &none    &none
    &ext_power EP_ON    &none         &none         &none         &none         &none              &none        &none     &none     &none    &none    &none
    &ext_power EP_OFF   &none         &none         &none         &none         &none              &none       &none      &none     &none    &none    &none
                                                    &kp LALT      &none         &none              &none       &none      &trans
                        >;
                        label = "Profile";
                };
        };
};
